/*Color Swatch-----------------
brick              #5b1406 (r=91, g=20, b=6)
lite brick         #d5bcb7 (r=213, g=188, b=183)
blue-gray          #bcc0c4 (r=188, g=192, b=196)
white              #fefdfd (r=254, g=253, b=253)

--------------------------------*/

#home{
	background: #d5bcb7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, rgb(91,20,6)), color-stop(0.65, rgb(213,188,183)));
	background: -moz-linear-gradient(center top,rgb(91,20,6)25%, rgb(213,188,183)65%); 
	width: 960px;
	color: #5b1406;
	font: 100% 'Andada', serif;
	margin: 30px auto;
}

input:focus{
	background: #d5bcb7;
}

#mainNav{
	background: #5b1406;
	border: #bcc0c4 solid 4px;
	border-radius: 10px;
	padding: 40px;
	margin: 10px;
	-moz-box-shadow: 8px 8px 8px #d5bcb7;
	-web-box-shadow: 8px 8px 8px #d5bcb7;
	-o-box-shadow: 8px 8px 8px #d5bcb7;
	-khtml-box-shadow: 5px 5px 5px #d5bcb7;
	width: 100%;
	color: #fefdfd;
	font-size: 19px;
	font-family: 'Andada', serif;
	font-weight: normal;
		
}

a:link{
  	color: #fefdfd;
}
	  	
a:visited{
	color: #d5bcb7;
}
	  	
a:hover{
	color: #bcc0c4;
}
	  	
a:active{
	color: #fefdfd;
}

#wrapper{
	width: 100%; /*---900px---*/ 
	margin: 0 10px;
	overflow: hidden;
	background: #bcc0c4;
	border: #5b1406 solid 2px;
	padding: 20px;
	
}

#container{
	width: 100%;
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	background: #5b1406;
	width: 100px
	padding: 20px;
	margin: 0 10px 10px 0;
	
}

#one{
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	color: #d5bcb7;
	font-family: 'Andada', serif;
	font-weight: normal;
}

#two{
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	color: #d5bcb7;
	font-family: 'Andada', serif;
	font-weight: normal;
}

#three{
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	color: #d5bcb7;
	font-family: 'Andada', serif;
	font-weight: normal;
}
	

#mainContent{
	-moz-column-count: 3;
	-webkit-column-count: 3;
	-moz-column-gap: 2em;
	-webkit-column-gap: 2em;
	column-count: 3;
	-moz-column-rule-style: solid;
	-moz-column-rule-color: #5b1406;
	-moz-column-rule-width: 2px;
	-webkit-column-rule-style: solid;
	-webkit-column-rule-color: #5b1406;
	-webkit-column-rule-width: 2px;
	text-align: left;
	font-size: 85%;

	
}

#hyperlink{
	background: #5b1406;
	border: #bcc0c4 solid 4px;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	-moz-box-shadow: 8px 8px 8px #d5bcb7;
	-web-box-shadow: 8px 8px 8px #d5bcb7;
	-o-box-shadow: 8px 8px 8px #d5bcb7;
	-khtml-box-shadow: 5px 5px 5px #d5bcb7;
	width: auto;
	color: #fefdfd;
	font-size: 100%;
	font-family: 'Andada', serif;
	font-weight: normal;
	text-align: center;
	
}
	

	

h2{
	text-shadow: 2px 2.5px 2px #d5bcb7;
	
}

h3{
	text-shadow: 2px 2.5px 2px #d5bcb7;
	
}

#almc{
	color: #5b1406;
}


article{
	padding: 20px;	
	width: 100%; 
	margin: 0 auto;
	overflow: hidden;
	background: #bcc0c4;
	


}

table{
	border-collapse: collapse;	
}

th{
	border: #5b1406 solid 2px;
	text-align: left;
	background-color: #d5bcb7;
	color: #5b1406;
	padding: 0.3em;
}

.odd_row{
	background-color: #d5bcb7;
}

td{
	border: #5b1406 solid 2px;
	padding: 0.3em;
}



#sidebar{
	background-color: #d5bcb7;
	border: #5b1406 solid 3px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	width: 400px;
	color: #5b1406;
	font-size: 14px;
	font-family: 'Andada', serif;
	font-weight: normal;
	
}


	/* Tablet Portrait size to standard 960 (devices and browsers)*/
	@media screen and(min-width: 768px)and (max-width: 959px) {
	#wrapper{
		background-color: #0090ff;
		}
	}


	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers)*/
	@media screen and(min-width: 480px)and (max-width: 767px) {
	#wrapper{
		background-color: #ff6c00;
		}
	}


	
	/* Mobile Portrait Size to Mobile Landscape(devices and browsers)*/
	@media screen and (max-width: 479px) {
	#wrapper{
		background-color: #e4db2f;
		}
		
	}





	
	

